@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Roboto', sans-serif;
}

.container {
    margin: 30px auto;
    background-color: #f4f5f6;
    width: 70%;
    padding: 30px 50px;
    box-sizing: border-box;
}

.container h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 5px;
}

.container small {
    color: rgb(122, 122, 122);
    
}

.container a.back {
    margin: 20px 0;
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.container form .img-group {
    margin-bottom: 30px;
}

.container form img.img {
    display: block;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.container form .input-group {
    margin-bottom: 15px;
}

.container form .label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(163, 163, 163);
}
.container form .text {
    width: 50%;
    padding: 8px 20px;
    font-size: 16px;
    border: .5px solid gainsboro;
    font-weight: 500;
}

.container form .text:focus {
    outline: none;
}

.container form .dropdown {
    outline: none;
}

details {
	position: relative;
	width: 300px;
	margin-right: 1rem;
}

details[open] {
	z-index: 1;
}

summary {
	padding: .7rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: #fff;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

ul {
	width: 100%;
	background: #fff;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
}

li {
	margin: 0;
    list-style-type: none;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

li:first-child {
	padding-top: 0;
}

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

ul.list {
	counter-reset: labels;
}

label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}

.container form img {
	object-fit: cover;
	object-position: center;
}

.container form .input-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container form .input-column .input-group input#tinggi-badan {
    width: 40%;
}

.container form textarea {
	border: none;
	background-color: #fff;
	padding: 10px;
	font-size: 14px;
	text-indent: 0;
	border: .5px solid gainsboro;
	width: 52%;
}

.container form textarea:focus {
	outline: none;
}

.container form button {
	display: block;
	width: 55%;
	margin-top: 10px;
	border: none;
	padding: 10px 15px;
	color: #f4f5f6;
	font-size: 14px;
	font-weight: 300;
	background-color: #F4540F;
	border-radius: 5px;
}